.navegacao {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.logo {
  left: 0;
  top: -0.3;
  height: 175px;
}

@media (max-width: 744px) {
  .navegacao,
  .logo {
    height: 72px;
  }
}

@media (max-width: 375px) {
  .logo {
    height: 92px;
    justify-content: space-around;
    column-gap: 3rem;
  }
}
